<div class="sidebar">
    <div class="sidebar-module">
        <i class="fas fa-pencil-ruler"></i>
        <h4>Recent</h4>
        <hr>
        <ul class="list-styled">
            <% let posts = site.posts; %>
            <% let news = []; %>
            <% for (let i = posts.length-1; i > posts.length-3; i--) { %>
                <% news.push(posts.data[i]); %>
            <% } %>
            <% news.forEach(function(item) { %>
                <% if (item.type === 'blog' || 'project') { %>
                    <li><a href="<%- config.root %><%- item.path %>"><%- item.title %></a></li>
                <% } %>
            <% }); %>
        </ul>
    </div>
    <div class="sidebar-module">
        <i class="fas fa-history"></i>
        <h4>Archives</h4>
        <hr>
        <ul class="list-styled">
            <% let archiveDates = [] %>
            <% let archiveLinks = [] %>
            <% posts.forEach(function(item) { %>
                <% if (item.date) { %>
                    <% archiveDates.push(item.date.format(config.date_format)); %>
                    <% archiveLinks.push(item.path); %>
                <% } %>
            <% }); %>
            <% console.log(archiveDates) %>
            <% console.log(archiveLinks) %>
            <% for (let i = 0; i < archiveDates.length; i++) { %>
                <% if (archiveDates[i] !== archiveDates[i-1]) { %>
                    <li><a href="<%- config.root %><%- archiveLinks[i] %>"><%- archiveDates[i] %></a></li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <div class="sidebar-module">
        <i class="fas fa-location-arrow"></i>
        <h4>Elsewhere</h4>
        <hr>
        <ul class="list-styled">
            <li><a href="https://github.com/BranonConor">Github</a></li>
            <li><a href="https://www.linkedin.com/in/branonconor/">LinkedIn</a></li>
            <li><a href="https://www.instagram.com/bran.js/">Instagram</a></li>
        </ul>
    </div> 
</div>